
{% extends "base.html" %}

{% block container %}
<div class="row-fluid">
<div class="span12 divMapa" id="map_canvas">

</div>
<
</div>
<script>
		var map;		 
		function initialize() {
		    var options = {
	            zoom: 12,
	            center : new google.maps.LatLng(-15.780, -47.900), //cordenadas
	            mapTypeId: google.maps.MapTypeId.ROADMAP
        	}
		 
		    map = new google.maps.Map(document.getElementById("map_canvas"), options);
		    {% for lista in ocorrencias %}
		     var marker = new google.maps.Marker({
                position: new google.maps.LatLng('{{lista.marcador_lon}}', '{{lista.marcador_lat}}'),
                title: '{{lista.marcador_nome}}',
                map: map
            });
		    {% endfor %}
		}
		initialize();
		
</script>
{% endblock %}

